<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
>

<head>
  <meta charset="utf-8">
  <title>SSE | Validation Inscription</title>
  <meta name="keywords" content="">
  <meta name="author" content="">
  <link href="../static/includes/css/bootstrap.css"

        rel="stylesheet" type="text/css">
  <link href="../static/includes/css/custom.css"
        th:href="@{/includes/css/custom.css}"
        rel="stylesheet" type="text/css"> </head>

<body>
  <div class="page login-page">
    <div class="container col-md-12">
      <div class="form-outer text-center d-flex align-items-center col-md-6">
        <div class="form-inner col-md-12">
          <div class="text-uppercase">Sénégal Santé émergent</div>
          <hr>
          <p>Votre compte a été activé avec succes !</p>
          <div class="m-3">
            <a href="#">Connectez vous !</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="../static/includes/js/bootstrap.js"
          th:src="@{/includes/js/bootstrap.js}"
  ></script>
  <script src="../static/includes/js/jquery.js"
          th:src="@{/includes/js/jquery.js}"
  ></script>
  <script src="../static/includes/js/popper.js"
          th:src="@{/includes/js/popper.js}"
  ></script>
</body>

</html>